@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header {
  width: 100%;
  padding: 24px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(230, 228, 228);
  margin-bottom: 20px;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

button {
  box-shadow: none;
  border: 1px solid;
  border-radius: 3px;
  padding: 10px 14px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}

button.blue {
  background: #1266f1;
  color: #fff;
  border-color: #1266f1;
}

button.red {
  background: #f93154;
  color: #fff;
  border-color: #f93154;
}

header button:first-child {
  margin-right: 16px;
}

.product-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
}

.product-item {
  position: relative;
  padding: 20px 18px;
  box-sizing: border-box;
  border: 1px solid rgb(219, 217, 217);
  border-radius: 4px;
}

.product-item span {
  font-size: 14px;
}

.product-item h2 {
  font-size: 24px;
}

.product-item p {
  margin-top: 6px;
}

.product-item .product-item-price {
  text-align: right;
  margin-bottom: 0px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
}

.product-item .delete-checkbox {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.cancel-btn {
  background: #fff;
  color: #111113;
  border: 1px solid rgb(219, 217, 217);
}